{% extends "app/base.html" %}
{% load static %}

{% block main-content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h4>Email đã được gửi</h4>
                    <p>Chúng tôi đã gửi email hướng dẫn đặt lại mật khẩu đến địa chỉ email của bạn.</p>
                    <p>Vui lòng kiểm tra hộp thư và làm theo hướng dẫn.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Quay lại đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}

