{% extends "app/base.html" %}
{% load static %}

{% block main-content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h4>Đặt lại mật khẩu thành công</h4>
                    <p>Mật khẩu của bạn đã được đặt lại thành công.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Đăng nhập ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}

